# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/

# Environment Files
.env
.env.*

# VS Code
.vscode/

# IntelliJ/PyCharm
.idea/

# macOS
.DS_Store

# Logs
*.log

# Build Files
build/
dist/
*.egg-info/

# AWS
.aws/